<ion-content>

  <ion-card *ngIf="canadaSummary">
    <ion-card-header>
      <ion-card-title>Canada Summary</ion-card-title>
      <ion-card-subtitle>COVID-19 Key<br>As of {{ canadaSummary.date }}
</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Cases (last 7 days):</strong> {{ canadaSummary.numtotal_last7 || 0 | number }}</p>
      <p><strong>Total Cases:</strong> {{ canadaSummary.totalcases || 0 | number }}</p>
      <p><strong>Deaths (last 7 days):</strong> {{ canadaSummary.numdeaths_last7 || 0 | number }}</p>
      <p><strong>Total Deaths:</strong> {{ canadaSummary.numdeaths || 0 | number }}</p>
      
      
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="ontarioSummary">
    <ion-card-header>
      <ion-card-title>Ontario Vaccine Summary</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Total doses administered:</strong> {{ ontarioSummary.total_doses_administered | number }}</p>
      <p><strong>Fully vaccinated individuals:</strong> {{ ontarioSummary.total_individuals_fully_vaccinated | number }}</p>
      <p><strong>Partially vaccinated individuals:</strong> {{ ontarioSummary.total_individuals_partially_vaccinated | number }}</p>
      <p><strong>Previous day doses administered:</strong> {{ ontarioSummary.previous_day_total_doses_administered | number }}</p>
      <p><strong>Previous day at least one dose:</strong> {{ ontarioSummary.previous_day_at_least_one | number }}</p>
      <p><strong>Total doses in fully vaccinated individuals:</strong> {{ ontarioSummary.total_doses_in_fully_vaccinated_individuals | number }}</p>
    </ion-card-content>
  </ion-card>

  <div *ngIf="errorMessageCanada" class="error">{{ errorMessageCanada }}</div>
  <div *ngIf="errorMessageOntario" class="error">{{ errorMessageOntario }}</div>

</ion-content>
